/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility

*/

:root
  --black #000
  --near-black #0D0D0D
  --dark-gray #2E2D2D
  --light-gray #C2C2C2
  --gray #4D4D4D
  --gray-50 #030419
  --gray-600 #666666
  --white #FFFFFF
  --white-700 rgba(255, 255, 255, 0.75)
  --white-500 rgba(255, 255, 255, 0.5)
  --white-300 rgba(255, 255, 255, 0.333)
  --white-200 rgba(255, 255, 255, 0.2)
  --white-100 rgba(255, 255, 255, 0.1)
  --black-100 rgba(0, 0, 0, 0.1)
  --trans-gray-800 rgba(0, 0, 0, 0.77)

  --transparent transparent

  --primary #00096f
  --primary-600 #40B3FF

  // functional colors
  --bg var(--black)
  --title var(--white)
  --text var(--white)
  --muted var(--white-500)
  --link var(--white)
  --link-hover var(--white-700)
  --border var(--white-200)
  --error #FF4C52
  --success var(--primary-600)
  --warning #FFA34E

// color utility classes
.tm-title
  color var(--title)

.tm-text
  color var(--text)

.tm-muted
  color var(--muted)

.tm-gray
  color var(--gray-600)

.tm-bg
  color var(--bg)

.tm-error
  color var(--error)

.tm-success
  color var(--success)
