/* Variables */

:root
  --spacing-none 0
  for size in 1...14
    rfs($spacing['' + size], ('--spacing-%s' % size))

// margin utilities
.mt-10
  margin-top var(--spacing-10)

.mt-9
  margin-top var(--spacing-9)
.mb-9
  margin-bottom var(--spacing-9)

.mt-8
  margin-top var(--spacing-8)
.mb-8
  margin-bottom var(--spacing-8)

.mt-7
  margin-top var(--spacing-7)

.mt-5
  margin-top var(--spacing-5)

.mt-3
  margin-top var(--spacing-3)
