/* Visibility */

// Accessible/SEO friendly CSS hiding
.sr-only
  position absolute
  height 1px
  width 1px
  overflow hidden
  clip rect(1px, 1px, 1px, 1px)

.show-m-up
  display none
  @media $breakpoint-medium
    display block

.show-inline-m-up
  display none
  @media $breakpoint-medium
    display inline-block

.hide-m-up
  @media $breakpoint-medium
    display none
